function LaMadreDelJoven.main 0
push constant 16384
push constant 412
call Memory.poke 2
pop temp 0
push constant 16384
push constant 32
add
push constant 1014
call Memory.poke 2
pop temp 0
push constant 16384
push constant 64
add
push constant 563
call Memory.poke 2
pop temp 0
push constant 16384
push constant 96
add
push constant 563
call Memory.poke 2
pop temp 0
push constant 16384
push constant 128
add
push constant 1022
call Memory.poke 2
pop temp 0
push constant 16384
push constant 160
add
push constant 72
call Memory.poke 2
pop temp 0
push constant 16384
push constant 192
add
push constant 200
call Memory.poke 2
pop temp 0
push constant 16384
push constant 224
add
push constant 140
call Memory.poke 2
pop temp 0
push constant 16384
push constant 256
add
push constant 252
call Memory.poke 2
pop temp 0
push constant 16384
push constant 288
add
push constant 168
call Memory.poke 2
pop temp 0
push constant 16384
push constant 320
add
push constant 248
call Memory.poke 2
pop temp 0
push constant 0
return
