function Main.main 1
push constant 16384
pop local 0
push local 0
push constant 29170
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 522
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 526
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3610
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 530
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3584
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 1536
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 15360
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 31744
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 15360
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 31743
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 31744
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 1921
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 3808
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 12592
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 24856
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 18420
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 31749
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 16390
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 16380
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 28680
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 30728
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 3084
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 1030
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 242
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 4507
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 4360
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 3592
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 24584
call Memory.poke 2
pop temp 0
push local 0
push constant 833
add
push constant 5641
call Memory.poke 2
pop temp 0
push local 0
push constant 865
add
push constant 4601
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 56
call Memory.poke 2
pop temp 0
push local 0
push constant 34
add
push constant 40
call Memory.poke 2
pop temp 0
push local 0
push constant 66
add
push constant 56
call Memory.poke 2
pop temp 0
push local 0
push constant 98
add
push constant 40
call Memory.poke 2
pop temp 0
push local 0
push constant 130
add
push constant 72
call Memory.poke 2
pop temp 0
push local 0
push constant 162
add
push constant 896
call Memory.poke 2
pop temp 0
push local 0
push constant 194
add
push constant 752
call Memory.poke 2
pop temp 0
push local 0
push constant 226
add
push constant 792
call Memory.poke 2
pop temp 0
push local 0
push constant 258
add
push constant 504
call Memory.poke 2
pop temp 0
push local 0
push constant 290
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 322
add
push constant 112
call Memory.poke 2
pop temp 0
push local 0
push constant 354
add
push constant 208
call Memory.poke 2
pop temp 0
push local 0
push constant 386
add
push constant 385
call Memory.poke 2
pop temp 0
push local 0
push constant 418
add
push constant 774
call Memory.poke 2
pop temp 0
push local 0
push constant 450
add
push constant 524
call Memory.poke 2
pop temp 0
push local 0
push constant 482
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 514
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 546
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 578
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 610
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 642
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 706
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 738
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 770
add
push constant 35
call Memory.poke 2
pop temp 0
push local 0
push constant 802
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 834
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 866
add
push constant 3
call Memory.poke 2
pop temp 0
push constant 0
return
